@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="text-center" style="font-size:90px">⠀</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {   
        <!--body style="background-image:url(https://i.ibb.co/B3bBrY7/General.png); background-repeat:no-repeat; background-size:cover;"-->
        <body style="background-image:url(https://mobimg.b-cdn.net/v3/fetch/e8/e89356bf8a48bd1e8084875080ef4c0a.jpeg?h=600&r=0.5); background-repeat:no-repeat; background-size:cover;">
            <p class="text-center">
                <a id="confirm-link" class="btn btn-outline-info" style="font-size:70px" href="@Model.EmailConfirmationUrl">Da click para Finalizar el registro.</a>
            </p>
        </body>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }
    else
    {
        <!--body style="background-image:url(https://i.ibb.co/B3bBrY7/General.png); background-repeat:no-repeat; background-size:cover;"-->
        <body style="background-image:url(https://mobimg.b-cdn.net/v3/fetch/e8/e89356bf8a48bd1e8084875080ef4c0a.jpeg?h=600&r=0.5); background-repeat:no-repeat; background-size:cover;">
            <p>
                Por favor confirma tu correo
            </p>
        </body>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    }
}
